@tailwind base;
@tailwind components;
@tailwind utilities;

  @layer base {
    :root {
      --background: 0 0% 100%;
      --foreground: 224 71.4% 4.1%;

      --card: 0 0% 100%;
      --card-foreground: 224 71.4% 4.1%;

      --popover: 0 0% 100%;
      --popover-foreground: 224 71.4% 4.1%;

      --primary: 220.9 39.3% 11%;
      --primary-foreground: 210 20% 98%;

      --secondary: 220 14.3% 95.9%;
      --secondary-foreground: 220.9 39.3% 11%;

      --muted: 220 14.3% 95.9%;
      --muted-foreground: 220 8.9% 46.1%;

      --accent: 220 14.3% 95.9%;
      --accent-foreground: 220.9 39.3% 11%;

      --destructive: 0 84.2% 60.2%;
      --destructive-foreground: 210 20% 98%;

      --border: 220 13% 91%;
      --input: 220 13% 91%;
      --ring: 224 71.4% 4.1%;

      --radius: 0.5rem;
    }

    .dark {
      --background: 224 71.4% 4.1%;
      --foreground: 210 20% 98%;

      --card: 224 71.4% 4.1%;
      --card-foreground: 210 20% 98%;

      --popover: 224 71.4% 4.1%;
      --popover-foreground: 210 20% 98%;

      --primary: 210 20% 98%;
      --primary-foreground: 220.9 39.3% 11%;

      --secondary: 215 27.9% 16.9%;
      --secondary-foreground: 210 20% 98%;

      --muted: 215 27.9% 16.9%;
      --muted-foreground: 217.9 10.6% 64.9%;

      --accent: 215 27.9% 16.9%;
      --accent-foreground: 210 20% 98%;

      --destructive: 0 62.8% 30.6%;
      --destructive-foreground: 210 20% 98%;

      --border: 215 27.9% 16.9%;
      --input: 215 27.9% 16.9%;
      --ring: 216 12.2% 83.9%;
    }

    * {
      @apply border-border;
    }
    body {
      @apply bg-background text-foreground;
    }
  }

  :root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
  }
  
  @media (prefers-color-scheme: dark) {
    :root {
      --foreground-rgb: 255, 255, 255;
      --background-start-rgb: 0, 0, 0;
      --background-end-rgb: 0, 0, 0;
    }
  }
  
  body {
    color: rgb(var(--foreground-rgb));
    background: linear-gradient(
        to bottom,
        transparent,
        rgb(var(--background-end-rgb))
      )
      rgb(var(--background-start-rgb));
  
      overflow-x: hidden;
  }
  
  @layer utilities {
    .text-balance {
      text-wrap: balance;
    }
  }
  
  @layer components{
    .text-stroke {
      color: transparent;
      -webkit-text-stroke: 2px #454C4F;
    }
  
    .lista-customizada-item::before {
      content: '\25CB';
      padding-right: 0.5rem;
      display: inline-block;
    }
  
    .lista-customizada-item-no-circle::before {
      content: ''; /* Remove o conteúdo do ::before para esses itens */
      padding-right: 0; /* Remove o padding, se necessário */
  }
  
    .cor-texto-magenta{
      color:#F80D5A;
    }
  
    .cor-texto-cursos{
      color:#8A959B;
      ;
    }
  }
  
  @font-face {
    font-family: 'Gotham HTF Ultra';
    src: url('./assets/fonts/gotham/gotham-htf-ultra.woff2') format('woff2'),
    url('./assets/fonts/gotham/gotham-htf-ultra.woff') format('woff');
    font-weight: 900;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Gotham HTF Black';
    src: url('./assets/fonts/gotham/gotham-htf-black.woff2') format('woff2'),
    url('./assets/fonts/gotham/gotham-htf-black.woff') format('woff');
    font-weight: 800;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Gotham HTF Bold';
    src: url('./assets/fonts/gotham/gotham-htf-bold.woff2') format('woff2'),
    url('./assets/fonts/gotham/gotham-htf-bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Gotham HTF Medium';
    src: url('./assets/fonts/gotham/gotham-htf-medium.woff2') format('woff2'),
    url('./assets/fonts/gotham/gotham-htf-medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Gotham HTF Book';
    src: url('./assets/fonts/gotham/gotham-htf-book.woff2') format('woff2'),
    url('./assets/fonts/gotham/gotham-htf-bold.woff') format('woff');
    font-weight: 400;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Gotham HTF Light';
    src: url('./assets/fonts/gotham/gotham-htf-light.woff2') format('woff2'),
    url('./assets/fonts/gotham/gotham-htf-light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Gotham HTF Thin';
    src: url('./assets/fonts/gotham/gotham-htf-thin.woff2') format('woff2'),
    url('./assets/fonts/gotham/gotham-htf-thin.woff') format('woff');
    font-weight: 200;
    font-style: normal;
  }
  
  @font-face{
    font-family: 'PT Sans Regular';
    src: url('./assets/fonts/PT_Sans/PTSans-Regular.ttf') format('truetype');
    font-weight: 400;
  }

  @font-face {
    font-family: 'Roboto Regular';
    src: url('./assets/fonts/Roboto/Roboto-Regular.ttf') format('truetype');
  }